.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-4);
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: var(--font-size-1);
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
}
